@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
html, body, #root, #root>div {
  height: 100% !important;
}
body {
  margin: 0;
  font-family: 'Graduate', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
